<header class="main-header fluid-container">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Main</a></li>
            <li class="main-header__item"><a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a></li>
            <li class="main-header__item"><a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Sign Up</a></li>
            <li class="main-header__item"><a class="<%= path === '/mypage' ? 'active' : '' %>" href="/mypage">My Page</a></li>
        </ul>
    </nav>
</header>