<%- include('includes/head.ejs') %>

</head>

<body>
    <%- include('includes/navigation.ejs') %> 
    <main class="fluid-container">
        <h1>Walk 2 Cafe</h1>
        <p>서울시립대 근처 카페를 찾아보자!</p>
    </main>

<%- include('includes/end.ejs') %>