/* 한글 font만 가져오기 */
@font-face {
  font-family: 'Gaegu';
  font-style: normal;
  src: url('/fonts/Gaegu-Regular.ttf') format('truetype');
  /*  
    U+AC00-D7A3 : 한글
    U+003F : 물음표
  */
  unicode-range: U+AC00-D7A3, U+003F;
}

/* * : 전체에 적용 */
* {
  /* 
    - 영어는 'Cabin Sketch' 적용, 한글은 'Gaegu' 적용
    - !important : 우선순위 제일 상위로!
  */
  font-family: 'Cabin Sketch','Gaegu' !important;
}

main {
  padding: 0 1rem;
}

.main-background {
  background-image: url("/img/Coffee.jpg"), url("/img/Croissant.jpg");
  background-repeat: no-repeat;
  background-position: left top, right top;
  background-size: contain;
}

.main-header {
  height: 3.5rem;
  margin: 1rem;
  /* display: flex;
  align-items: center; */
  /* background 그라디에이션 조절 */
  background: linear-gradient( 45deg, #efffdb, #ade664);
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  /* text 밑줄 제거 */
  text-decoration: none !important;
  color: #83431e;
}

.fakeimg {
  height: 200px;
  background: #aaa;
}